.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #161625;
  padding: 20px;
  text-align: center;
}
.not-found-img {
  width: 400px;
}

.not-fount-heading {
  color: white;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
}

.not-found-para {
  color: #94a3b8;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}
.home-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 24px;
  background-color: #2563eb;
  width: 88px;
  height: 48px;
  border-radius: 12px;
  border-width: 0px;
  color: white;
}

@media (max-width: 767px) {
  .not-found-img {
    width: 200px;
  }

  .not-fount-heading {
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .not-found-para {
    color: #94a3b8;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
  }
  .home-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 16px;
    width: 66px;
    height: 32px;
    background-color: #2563eb;
    border-width: 0px;
    color: white;
    border-radius: 8px;
    font-size: 12px;
  }
}
