.line-chart-container {
  overflow-y: auto;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  width: 70vw;

  margin-bottom: 30px;
  flex-direction: column;
  padding: 10px;
}

.line-chart-in-container {
  padding: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  overflow-y: auto;
  align-items: center;
  height: 300px;
}
.label-element {
  align-self: flex-end;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin-right: 30px;
  line-height: 24px;
}

.tested {
  color: #9673b9;
}
